<section class="about">
<div class="container">
  <div class="row">
    <div class="col-md-12">
<h1 class="page-title" style = "text-align:center"><%= @aboutPage.title %></span><span class="accent-color">.</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 center">
      <%= @aboutPage.content %>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
</section>
