<section class="about">
<div class="container">
  <div class="row">
    <div class="col-md-12">
<h1 class="page-title" style = "text-align:center"><%= @contactPage.title %></span><span class="accent-color">.</span></h1>

    </div>
  </div>
  <div class="row">
    <div class="col-md-8 center">
      <%= @contactPage.content %>
    </div>
  </div>
</div>
</section>
